#contact{
    color: #eee;
    padding-top: 12%;
    padding-bottom: 10%;
    background-color: #131417;
    align-items: center;
}


.form-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    padding: 20px;
}


#contact-detail {
    margin-top: 10%;
}

#msgSentCard {
    margin-right: auto;
    margin-left: 30px;
    margin-top: 15%;
    padding: 20px;
    display: none;
}

#loader {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin-left: 8% !important;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    /* background-color: rgb(190, 182, 182); */
    display: none;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

@media (max-width:415px) {
    #contact{
        margin-left: 10%;
    }
    #loader {
        margin-left: 20% !important;
    }
    

}

@media (min-width:540px) {
    .col{
        margin-left: 13%;
    }

    #loader {
        margin-left: 5%;
    }
}
